# Describing the Clean Datasets

## 01 Import libraries
## 02 Import Data
## 03 Describe the dataframes

In [1]:
import os
import numpy as np
import pandas as pd

# Set display options:
# No limit on rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# 2dp floating point
pd.options.display.float_format = '{:.2f}'.format

## 02 Import data

In [2]:
# import dataframe

pathData = r'C:\Users\Michael\Desktop\Career Foundry\02 Data Immersion Course\06 Advanced Analytics and Dashboard Design\00 Data'
econ = pd.read_csv(os.path.join(pathData, 'World Bank Cleaned', 'econgrowth_clean.csv'))
educ = pd.read_csv(os.path.join(pathData, 'World Bank Cleaned', 'education_clean.csv'))
pove = pd.read_csv(os.path.join(pathData, 'World Bank Cleaned', 'poverty_clean.csv'))

## 03 Describe Data

In [3]:
econ.describe().to_clipboard()
econ.describe()

,Unnamed: 0,Year,GDP per capita (constant 2015 US$),GDP per capita growth (annual %),GNI per capita (constant 2015 US$),GNI per capita growth (annual %)
count,6630.00,6630.00,6573.00,6598.00,5110.00,4840.00
mean,3314.50,2008.63,13724.52,2.08,12205.75,2.18
std,1914.06,7.46,20883.65,5.53,17653.18,4.93
min,0.00,1996.00,234.71,-55.09,229.40,-61.95
25%,1657.25,2002.00,1679.70,0.16,1566.38,0.17
50%,3314.50,2009.00,4961.17,2.19,4454.24,2.29
75%,4971.75,2015.00,16860.57,4.26,14111.75,4.46
max,6629.00,2021.00,204190.97,140.48,138201.22,46.26

In [4]:
educ.describe().to_clipboard()
educ.describe()

,Year,Adolescents out of school (% of lower secondary school age),"Adolescents out of school, female (% of female lower secondary school age)","Adolescents out of school, male (% of male lower secondary school age)",Children out of school (% of primary school age),"Children out of school, female (% of female primary school age)","Children out of school, male (% of male primary school age)","Government expenditure on education, total (% of GDP)","Primary completion rate, female (% of relevant age group)","Primary completion rate, male (% of relevant age group)","Primary completion rate, total (% of relevant age group)","School enrollment, primary (% net)","School enrollment, primary, female (% net)","School enrollment, primary, male (% net)","School enrollment, secondary (% net)","School enrollment, secondary, female (% net)","School enrollment, secondary, male (% net)"
count,6337.00,3775.00,3339.00,3339.00,4447.00,3762.00,3762.00,5109.00,5504.00,5504.00,5581.00,5305.00,4563.00,4563.00,4706.00,4683.00,4683.00
mean,2008.60,14.82,16.84,15.35,10.34,12.57,11.17,4.40,84.74,86.66,85.78,87.40,84.96,86.89,65.95,66.04,65.67
std,7.47,17.64,19.75,16.56,14.27,16.04,13.55,2.14,21.47,18.38,19.64,13.13,14.98,12.41,24.71,25.94,23.73
min,1996.00,0.00,0.04,0.04,0.00,0.01,0.02,0.00,7.16,13.82,13.71,24.03,18.57,29.31,2.77,2.27,3.28
25%,2002.00,2.13,2.91,3.12,1.27,1.99,2.15,3.00,73.26,76.23,74.59,84.51,81.29,83.34,46.58,46.64,47.07
50%,2009.00,8.08,8.89,9.51,4.46,5.98,5.93,4.14,93.17,92.78,93.17,92.29,90.25,91.18,72.77,74.72,71.43
75%,2015.00,19.73,22.90,21.66,12.40,14.99,13.63,5.37,98.90,99.02,98.85,95.79,95.00,95.27,87.23,88.04,86.42
max,2021.00,88.65,91.41,86.19,76.55,81.85,71.43,15.59,142.93,177.63,152.81,100.00,99.99,99.99,99.91,100.00,100.00

In [5]:
pove.describe().to_clipboard()
pove.describe()

,Year,Gini index,Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population),Poverty headcount ratio at $3.65 a day (2017 PPP) (% of population),Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population),Poverty headcount ratio at national poverty lines (% of population)
count,3882.00,3384.00,3749.00,3749.00,3749.00,2225.00
mean,2008.96,38.75,16.24,30.28,48.70,29.51
std,7.03,8.35,20.94,29.94,35.53,16.19
min,1996.00,23.20,0.00,0.00,0.00,0.00
25%,2003.00,32.60,0.60,1.70,10.00,17.00
50%,2009.00,37.50,5.40,19.40,50.50,25.13
75%,2015.00,43.70,26.90,56.90,85.00,40.20
max,2021.00,65.80,91.50,97.60,99.70,82.30